@media (max-width: 576px) {
  .whole {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "left"
      "middle"
      "right"
      "bottom-half";
  }

  .bottom-half {
    background-color: white;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  .whole {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "header header header"
      "left middle right";
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
}

.whole {
  background-color: black;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-family: "Noto Serif", serif;
  background-color: rgb(48, 184, 184);
  height: 50vh;
}

.bottom-half {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  background-color: black;
}

.flex-row pre {
  text-align: center;
  font-size: 17px;
  color: white;
  font-family: "Mukta", sans-serif;
  background-color: black;
}

h2 {
  margin: 0;
  color: white;
  font-size: 40pt;
  font-weight: 70;
}

#left {
  text-align: center;
  background-color: black;
}

#lightblue {
  background-color: rgb(99, 153, 171);
  font-size: 35px;
  margin: 0;
  color: rgb(99, 153, 171);
}

#middle {
  text-align: center;
  background-color: black;
}

#orange {
  background-color: rgb(232, 133, 13);
  font-size: 35px;
  margin: 0;
  color: rgb(232, 133, 13);
}

#right {
  text-align: center;
  background-color: black;
}

#aqua {
  background-color: rgb(48, 184, 184);
  font-size: 35px;
  margin: 0;
  color: rgb(48, 184, 184);
}
